:root {

}

html {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
}

html body {
  width: 100%;
}

html body nav {
    background-color: rgba(255, 255, 255, 1);
    height: clamp(20px .5vh 50px);
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    text-align: center;
    position: fixed;
    width: 100%;
}

html body nav h1 {
    text-decoration: none;
    color: white;
    transition: color .5s ease, text-decoration .5s ease;
}
