:root {
  --ubuntu: 'Ubuntu', sans-serif;
}

html {
  overflow-x: hidden;
  font-family: var(--ubuntu);
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

html body {
  width: 100%;
  margin: 0;
}

html body nav {
  box-sizing: border-box;
  padding-left: 30%;
  padding-right: 30%;
  background-color: rgba(255, 255, 255, 0);
  height: clamp(20px .5vh 50px);
  z-index: 100;
  display: grid;
  grid-template-columns:1fr 1fr auto 1fr 1fr;
  text-align: center;
  position: fixed;
  width: 100%;
}

html body nav button {
  font-family: var(--ubuntu);
  background-color: rgba(255,255,255, 0);
  border: none;
  font-size: clamp(15px, 1vw, 20px);
  color: white;
  transition: transform .5s ease;
}

html body nav button:hover {
  transform: scale(1.05);
}

#navbar {
  transition: background-color 0.3s ease;
}

#nav-underline {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background: gold;
  transition: left 0.3s ease, width 0.3s ease;
}

#navbar button.active {
  color: gold;
}

